* {
	margin: 0;
	/* padding: 3px; */
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: black;
	height: 100%;
	font-family: "Muli", sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #555;
	

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
.center-text {
	color: whitesmoke;
	font-family: "Oswald", sans-serif;
	margin-top: 10%;
	margin-left: 40%;
	margin-bottom: 150px;
}
h1 {
	font-size: 70px;
}
h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Oswald", sans-serif;
}
p {
    font-size: 14px;
    font-family: "Muli", sans-serif;
    color: #a9a9a9;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
}
.pain {
	color: #bd2929;
}
.nav {
	display: flex;
	flex-direction: row;
	/*margin-left: 3%;*/
}
.primary-btn {
	display: inline-block;
	font-size: 14px;
	margin-top: 20px;
	padding: 17px 30px 16px;
	color: #ffffff;
	background: #d7d710;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}
.shape {
	letter-spacing: 6px;
	color: #b4e3f5

}
.nav-link {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin-left: 40px;
	padding: 40px;
	color: #d7d710;
	display: flex;
}

.video {
	position: relative;
	padding-bottom: 100%;
}
.video__media {
	width: 120%;
	height: auto;

	position: absolute;
	top: 0;
	left: 0;
}
.intro {
	max-height: 100vh;
	overflow: hidden;
	position: relative;

}
.intro:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.intro__content {
	margin-top: 22px;
    
	display: flex;

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}
.logo {
	width: 150px;
	height: 150px;
	margin-left: 75px;
}


.section-title {
	margin-top: 45px;
	margin-bottom: 45px;
	text-align: center;
}

.section-title span {
	font-size: 16px;
    color: #d7d710;
    font-weight: 700;
}
.section-title h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    margin-top: 8px;
    margin: 0;
	font-family: "Oswald", sans-serif;
}
.cs-item {
	text-align: center;
	margin-bottom: 30px;
}
.cs-item span {
    height: 90px;
    width: 90px;
    background: #d7d710;;
    border-radius: 50%;
    display: inline-block;
    line-height: 90px;
    text-align: center;
    
}
.cs-item h4 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;
}
p {
	font-size: 14px;
    font-family: "Muli", sans-serif;
    color: #a9a9a9;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
}
.classes {
    background: #151515;
    padding-bottom: 80px;
}
.classes .section-title {
    margin-bottom: 35px;
}
.class-item {
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 5%;
}
img {

	max-width: 100%;
}
.class-item .pictext {
    background: #0a0a0a;
    position: relative;
    padding: 10px 30px 26px 30px;
    z-index: 1;
}
.class-item .pictext span {
    color: #d7d710;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.class-item .pictext h5 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4px;
}
.class-item .pictext h3 {
    font-size: 35px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4px;
}
.class-item .pic img {
    min-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.banner-section {
	height: 550px;
	justify-content: center;
	background-image: url(img/banner-bg.jpg);
	display: flex;
	background-position: top center;
	align-items: center;
}

.bs-text h2 {
	font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 25px;
    font-family: "Oswald", sans-serif;
}
.bs-text .whr {
	font-size: 20px;
    color: #c4c4c4;
    font-weight: 700;
    margin-bottom: 45px;
}
.bs-text .primary-btn {
	font-weight: 700;
}
.gettouch-section {
	background: #0a0a0a;
	padding: 30px 0 15px;
}
.gt-text {
	overflow: hidden;
    margin-bottom: 30px;
}
.gt-text span {
	height: 65px;					
    width: 65px;
    background: #d7d710;
    border-radius: 50%;
    display: inline-block;
    line-height: 65px;
    text-align: center;
    float: left;
    margin-right: 20px;
}

.gt-text p {
	overflow: hidden;
	padding-top: 10px;
    color: #ffffff;
    margin-bottom: 0;
    padding-top: 10px;
    
}
.gt-text.tell p {
	padding-top: 20px;
	letter-spacing: 0.5px;

}
.gt-text.email p {
	padding-top: 20px;	   
	letter-spacing: 0.5px;

}
.footer {
	background: #000000;
	padding-top: 50px;
}
.ft-text {
	margin-bottom: 30px;
}
.f-logo {
	margin-bottom: 30px;
}
.socset a {
	color: #d7d710;
	margin-right: 16px;
}
.f-links {
	margin-bottom: 30px;

}
.f-links h4 {
    color: white;
    font-weight: 600;
    margin-bottom: 18px;
}
a {
	text-decoration: none;
}
ul {
	padding: 0;
	margin: 0;
}
.f-links ul li {
	list-style: none;
}
.f-links a {
	font-size: 16px;
	color: #d7d710;
	line-height: 30px;
}
.fs-widget h4 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 18px;
 }
 .f-links .f-blg h6 {
 	margin-bottom: 6px;
 }
 .f-blg h6 {
    color: #c4c4c4;
    letter-spacing: 0.5px;
}
.f-blg ul li {
    font-size: 12px;
    color: #4d4d4d;
    display: inline-block;
    margin-right: 25px;
    position: relative;
}
.end-text {
	font-size: 14px;
    letter-spacing: 0.5px;
    border-top: 1px solid #1a1a1a;
    padding: 25px 0;
    margin-top: 15px;
}
.end-text p {
	color: #d7d710;
}

.fon {
	height: 1080px;
	position: relative;
    padding-bottom: 56.25%;
}
.abt-s-text {
	padding-bottom: 100px;
	padding-right: 240px;
}
.abt-s-text h2 {
	font-size: 80px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: "Oswald", sans-serif;
    text-align: center;
}
.about-text {
	background: #000000;
    height: 640px;
    padding: 0 30px 0 0;
    margin: 0 35px 0 0;
}
.about-text p {
	color: #d7d710;
	font-size: 16px;
}
.about-img .sung {
	border-radius: 5%;
}
.aboutus-section {
	padding-top: 110px;

}

.abt-s-text h2 span {
	color: #afbd2c;
}
.table-price {
	border-top: 1px solid #d7d710;
	margin-top: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 15px;
	border-bottom: 1px solid #d7d710;
}
table {
	margin: 10px auto 20px;
    border: 3px solid #999;
}
table td {
	text-align: center;
    padding: 6px 10px;
    border: 1px solid #999;
    line-height: 1;
    background: rgba(0, 0, 0, .5);
}
td {
   color: #d7d710;

}

.text-section {
	padding-bottom: 70px;
}

.team-title .section-title {
	text-align: left;
    float: left;
}
.ts-item .ts_text {
	padding: 20px 0 20px 0;
    text-align: center;
    background: #0a0a0a;
    border-top: 1px solid #d7d710;

}
.ts-item .ts_text h4 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 14px;
}
.ts-item .ts_text span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: #d7d710;    
}
.team-section {
	margin-bottom: 50px;
}
.contact {
	padding-top: 100px;
	padding-bottom: 100px;
}
.cntct-title {
	text-align: left;
	margin-bottom: 35px;
}
.cntct-title span {
    font-size: 16px;
    color: #d7d710;
    font-weight: 700;
}
.cntct-title h2 {
	font-family: "Oswald", sans-serif;
	color: #ffffff;
	font-size: 32px;
	font-weight: 600;
	margin-top: 8px;
}
.submit-area form input {
    font-size: 13px;
    color: #c4c4c4;
    width: 100%;
    height: 46px;
    border: 1px solid #363636;
    padding-left: 20px;
    padding-right: 5px;
    background: transparent;
    margin-bottom: 20px;
}
.submit-area form textarea {
    font-size: 13px;
    color: #c4c4c4;
    width: 100%;
    height: 100px;
    border: 1px solid #363636;
    padding-left: 20px;
    padding-top: 12px;
    padding-right: 5px;
    background: transparent;
    margin-bottom: 14px;
    resize: none;
}
.submit-area form button {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    border: none;
    padding: 14px 0 12px;
    background: #d7d710;
}
.map {
	height: 550px;
	margin-top: 35px ;
}
iframe {
	width: 100%;
}

.shops {
    background: black;
    padding-bottom: 60px;
}
.shops .section-title span {
    font-size: 28px;
    color: #d7d710;
    font-weight: 700;
}
.shops .section-title {
	border-bottom: 1px solid #d7d710;

}

.tovar {
	margin-bottom: 30px;
	text-align: center;
}



